name: Release to Nuget

on:
  release:
    types: [published]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 10.0.x
    - name: Build Package
      run: dotnet build --configuration Release
    - name: Pack NuGet Package
      run: dotnet pack --configuration Release /p:Version=${{ github.event.release.tag_name }} /p:PackageReleaseNotes="See https://github.com/Ollie-Ave/OllieAve.AppleWallet.Orders/releases/tag/${{ github.event.release.tag_name }}"  --output .
    - name: Archive NuGet Package
      uses: actions/upload-artifact@v4
      with:
        name: OllieAve.AppleWallet.Orders
        path: ./OllieAve.AppleWallet.Orders.${{ github.event.release.tag_name }}.nupkg
        overwrite: true
    - name: Publish Nuget Package
      run: dotnet nuget push ./OllieAve.AppleWallet.Orders.${{ github.event.release.tag_name }}.nupkg --skip-duplicate --api-key ${{ secrets.nuget_api_key }} --source https://api.nuget.org/v3/index.json --no-symbols
